/*start header*/
.header {
    background-color: #eee;
    box-shadow: 0 0 10px 10px #616161;
}
.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header .logo {
    display: flex;
}
.header .tools{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.logo > i {
    font-size: 50px;
}
.logo > h1 {
    padding: 15px 5px;
    margin: 0;
}
.tools > .search {
    height: 40px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid #bdbdbd;
    padding: 0 10px;
    outline: none;
}
.tools > .search::placeholder{
    color: #bdbdbd;
}
.tools > i::before{
    font-size: 25px;
}
.tools > .login {
    text-decoration: none;
    padding: 10px;
    background-color: #2196f3;
    border-radius: 10px;
    color: white;
}

/*end header*/

/*start nav*/
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
.nav  ul > li {
    margin: 5px 10px;
    padding: 5px 10px;
}
.nav  ul > li a{
    text-decoration: none;
    color: black;
}
.nav  ul > li a.active{
    position:relative;
}
.nav  ul > li a.active::before{
content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 2px;
    background-color: black;}
/*end nav*/

/*start ribbon*/

.ribbon .content {
    margin: 20px 25px;
}

/*end ribbon*/ 

/*start stock data*/

/*company*/ 
.company{
    margin: 0 20px;
}
.company > h3{
    font-size:40px;
    font-weight:700;
}
.company p{
    font-size: 25px;
}
.company p span:first-child {
    color: #9e9e9e;
    font-size: 30px;
}
/*sell-buy*/
.order {
    position: relative;
}
.order::before {
content: "";
    width: 2px;
    background-color: #9e9e9e;
    height: 180px;
    position: absolute;
    left: -25px;
    top: 0;
}
.order h3 {
    color: #9e9e9e;
}
.order form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    margin: 0 20px;
}
.order .content input{
    width: 120px;
    outline: none;
}
.order .content .sell-buy{
    display: flex;
    justify-content: space-between;
    width: 125px;
}
.order .content .sell-buy >.sell{
    text-decoration: none;
    display: block;
    width: 60px;
    padding: 10px;
    background-color: #ff3d00;
    border-radius: 10px;
    color: white;
    border: none;
}
.order .content .sell-buy > .buy {
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 60px;
    background-color: #00e676;
    border-radius: 10px;
    color: white;
    border: none;
}
.error-list{
    list-style-type: none;
}
.error{
    color: red
}
.order .validation-Quantity {
    position: fixed;
    color: red;
    width: 400px;
    bottom: 150px;
    left: 10%;
}
/*end stock data*/
/*start orders*/
.container > .orders {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;
}
.container > .orders .card{
    width: 40%;
    color: #9e9e9e
}
.container > .orders .card div span{
    color:black;
    font-weight: 600;
}
/*end orders*/

/*start orderspdf*/
.ordersTable {
    width: 100%;
    text-align: center;
}
.ordersTable thead{
    background-color: lightseagreen;
}
.ordersTable tbody{
    background-color: #eee;
}
.ordersTable td,
.ordersTable th
{
    border: 1px solid white;
}
/*end orderspdf*/

/*start Explore*/

.exploreContent{
    width: 45%;
}
.exploreContent h2{
    color: #9e9e9e;
}
.exploreContent ul{
list-style-type: none;
    padding: 0;
    background-color: white;
    border-radius: 10px;

}
.exploreContent ul li div{
    padding: 10px 20px;
}
.exploreContent ul li div h4{
    margin: 10px 0;
    font-size: 20px;
}
.exploreContent ul li div p{
    color: #9e9e9e;
    margin: 0;
}
/*start companydetails component*/
.compDetailsComp {
    width: 45%;
    padding: 10px;
    margin: 20px;
}
.compDetailsComp img{
    width: 250px;
    height: 250px
}
.compDetailsComp h4{
    margin: 20px 0;
    font-size: 35px;
}
.compDetailsComp h4+span{
    color: white;
    background-color: gray;
    padding: 5px;
    border-radius: 16px;
    font-size: 12px;
    display: inline-block;
}
.compDetailsComp p:first-of-type span{
    color: white;
    background-color: gray;
    padding: 5px;
    border-radius: 16px;
    font-size: 12px;
}
.compDetailsComp p:last-of-type{
    color: #9e9e9e;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
}
.compDetailsComp p:last-of-type span{
    color: black;
}
.compDetailsComp a{
    text-decoration: none;
    padding: 10px;
    background-color: #2196f3;
    border-radius: 10px;
    color: white;
    display: inline-block;
}
/*end companydetails component*/
/*end Explore*/
a:hover,
button:hover,
.exploreContent li:hover{
    cursor: pointer;
}